<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculador</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td colspan="4"><input type="number" name="resultado" id=""></td>
            </tr>
            <tr>
                <td><button type="button" onclick="datos(this.textContent)">AC</button></td>
                <td><button type="button" onclick="datos(this.textContent)">+/-</button></td>
                <td><button type="button" onclick="datos(this.textContent)">%</button></td>
                <td><button type="button" onclick="datos(this.textContent)">/</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="datos(this.textContent)">7</button></td>
                <td><button type="button" onclick="datos(this.textContent)">8</button></td>
                <td><button type="button" onclick="datos(this.textContent)">9</button></td>
                <td><button type="button" onclick="datos(this.textContent)">x</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="datos(this.textContent)">4</button></td>
                <td><button type="button" onclick="datos(this.textContent)">5</button></td>
                <td><button type="button" onclick="datos(this.textContent)">6</button></td>
                <td><button type="button" onclick="datos(this.textContent)">-</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="datos(this.textContent)">1</button></td>
                <td><button type="button" onclick="datos(this.textContent)">2</button></td>
                <td><button type="button" onclick="datos(this.textContent)">3</button></td>
                <td><button type="button" onclick="datos(this.textContent)">+</button></td>
            </tr>
            <tr>
                <td colspan="2"><button style="width: 100%;" type="button" onclick="datos(this.textContent)" >0</button></td>
                <td><button type="button" onclick="datos(this.textContent)">.</button></td>
                <td><button type="button" onclick="datos(this.textContent)">=</button></td>
                <input type="hidden" name="num1">
                <input type="hidden" name="num2">
                <input type="hidden" name="operacion">
            </tr>
        </table>
    </form>
    <script>
        function datos(valor){
            var form = document.forms[0];
            form.resultado.value = form.resultado.value + valor;
        }
    </script>
</body>
</html>